<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="2.2.0.4" targetFramework="net452" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net452" developmentDependency="true" />
  <package id="Fluent.Ribbon" version="5.0.2.46" targetFramework="net452" />
  <package id="Fody" version="2.1.2" targetFramework="net452" developmentDependency="true" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Nancy" version="1.4.4" targetFramework="net452" />
  <package id="Nancy.Authentication.Basic" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
</packages>